{% extends "home.html" %}

{% block main %}
<table class="table" summary="">
<thead>
  <tr>
    <th scope="col"># of votes</th>
    <th scope="col"># of answers</th>
    <th scope="col">question</th>
    <th scope="col">author</th>
  </tr>
</thead>
<tbody>
{% for question in latest_question_list %}
  <tr>
    <td>{{ question.votes }}</td>
    <td>{{ question.views }}</td>
    <td><a href="/questions/{{ question.id }}/" title="{{ question.content }}">{{ question.title }}</a></td>
    <td>posted by <a href="/users/{{ question.user.id }}/">{{ question.user.first_name }} {{ question.user.last_name }}</a></td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock main %}

