{% extends "home.html" %}

{% block 2 %}
<div id="content">
  <h1>Questions</h1>
  <div id="question-mini-list">
  {% if latest_question_list %}
      {% for question in latest_question_list %}
          <div class="question-summary"> 
            <span class="votes" style="float: left;">
              <div class="mini-count"> {{ question.votes }}</div>
              <div>votes</div>
            </span> 
            {% if question.answers > 0 %}
              <span class="answers-yes">
                <div class="mini-count"> {{question.answers }}</div>
                {% if question.answer == 1 %}
                  <div>answer</div>
                {% else %}
                  <div>answers</div>
                {% endif %}
              </span>
            {% else %}
              <span class="answers-no">
                <div class="mini-count"> 0 </div>
                <div>answers</div>
              </span>
            {% endif %}
            <span class="views">
           <!-- <div class="mini-count">2</div>
              <div>views</div>-->
            </span>
            <div class="summary">
              <div class="question-summary-title" ><a href="/questions/{{ question.id }}/" title="{{ question.content }}">{{ question.title }}</a></div>
              <div style="clear:both"></div>
              <div class="question-meta-infos"> posted by <a href="/users/{{ question.user.id }}/">{{ question.user.first_name }} {{ question.user.last_name }}</a></div>
            </div>
          </div>
          <div style="clear:both"></div>
      {% endfor %}
  {% else %}
      <p>No questions are available.</p>
  {% endif %}
  </div>
</div>
{% endblock 2 %}
