{% extends 'home.html' %}

{% block css.custom %}
<link rel="stylesheet" type="text/css" href="/static/css/registration.css" />
{% endblock css.custom %}


{% block main %}
<div id="content">
{% if form.errors %}
{% for error in form.errors %}
<p class="login-error">{{error}}</p>
{% endfor %}
{% endif %}
<div id="login-container">
       <form action="." method="post">
         <h1><span>REGISTER</span></h1>

         <div class="form" action="/accounts/register/" method="post">{% csrf_token %}
             <label for="username">Username :</label>
             <input type="text" name="username" id="username" value="username" />
             <div style="clear: both"></div>
             <label for="email">Email :</label>
             <input type="text" name="email" id="email" value="email" />
             <div style="clear: both"></div>
             <label for="password">Password :</label>
             <input type="password" name="password1" id="password" value="" />
             <div style="clear: both"></div>
             <label for="password">Confirm password :</label>
             <input type="password" name="password2" id="password" value="" />
             <div style="clear: both"></div>
            <input class="submit" type="submit" value="Create an account !" />
         </div>      
       </form>
  </div>
</div>
{% endblock main %}

