@font-face {
   font-family: 'Cantarell';
   src: url(../fonts/Cantarell-Regular.eot);
   src: local('Cantarell'), url('../fonts/Cantarell-Regular.ttf') format('truetype');
}

#login-container {
    height: 100px;
    overflow: hidden;
    position: relative;
    border:1px solid #b7b7b7;
}

#login-container h1 {
  color: #444;
}
    #login-container .form { margin: 0px 72px 0 72px; }

    #login-container h1, #login-container h2 {
        font-size: Cantarell, Verdana, sans-serif;
        text-align: center;
        color: #555;
        font-size: 24px;
        text-shadow: 1px 1px 1px #999;
    }
        #login-container h1 span { color: #a90329; }

    #login-container table {
        margin: 20px 40px;
        font-size: 14px;
        font-weight: bold;
    }
        #login-container table td {
            padding: 5px 10px;
        }
            #login-container table td:nth-child(2) {
                color: #a90329;
            }

    #login-container input, #login-container select {
        background: url('../images/input.png') no-repeat;
        color: #888;
        border: 1px solid #ccc;
        font-family: Cantarell, Verdana, sans-serif;
        font-weight: bold;
        font-size: 15px;
        width: 200px;
        height: 35px;
        padding: 0 25px;
        margin: 20px 0;
        float: right;

        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    }
        #login-container input.submit {
            background-color: #ccc;
            color: #444;
            border: 1px solid red;
            cursor: pointer;
            position: relative;
            width: 255px;
            height: 38px;
            bottom: 2px;
            float: right;
        }
        #login-container input.submit:focus { border: none; }

        #login-container input.send{ background: url('../images/send.png') no-repeat; }

        #login-container input:focus, #login-container select:focus {
            border: 1px solid #a90329;
            color: #a90329;
        }

    #login-container label {
        color: #666;
        font-size: 140%;
        font-weight: bold;
        line-height: 14px;
        float: left;
        padding-top: 9px;
        margin: 23px -25px;
        width: 270px;
    }
