{% extends 'home.html' %}

{% block css.custom %}
<link rel="stylesheet" type="text/css" href="/static/css/login.css" />
{% endblock css.custom %}

{% block 2 %}
<div id="content">
{% if form.errors %}
<p class="login-error">Your username and password didn't match!</p>
{% endif %}
<div id="content">
<div id="login-container">
       <form action="#" method="post">

           <!-- #first_step -->
               <h1>Sign in with your <span>CALCOVERFLOW</span> account</h1>

               <div class="form" action="/users/login/" method="post">{% csrf_token %}
                   <label for="username">Your username :</label>
                   <input type="text" name="username" id="username" value="username" />
                   <div style="clear: both"></div>
                   <label for="password">Your password :</label>
                   <input type="password" name="password" id="password" value="password" />
                   <div style="clear: both"></div>
                  <input class="submit" type="submit" value="Log in !" />
               </div>      
       </form>
      <div style="clear: both"></div>
      <div class="mini-box">
      <p>No account or forgot your password ?</p> 
       <span class="forgot-password"><a href="{% url auth_password_reset %}">Reset Password</a></span>
       <span class="lsep">|</span>
       <span class="not-member"><a href="{% url registration_register %}">Register</a></span>
      </div>
  </div>
</div>
</div>
{% endblock 2 %}

