<!-- <div id="header"> -->
<div class="flex-container topbar">
  <span class="item-fluid">(-(-_(-_-)_-)-)</span>
  <div class="w33">
    {% if user.is_authenticated %}
      <span id="current-user">
        Logged as {{ user.username }}
      </span>
      <span class="lsep">  |  </span>
      <a href="/accounts/logout/" class="link-logout">logout</a>
    {% else %}
      <a href="/accounts/login/" class="link-login">login</a>
    {% endif %}
    <span class="lsep">  |  </span><a href="/about/">about</a><span class="lsep">  |  </span><a href="/faq/">faq</a><span class="lsep">  |  </span><a href="/help/">help</a> 
  </div>
</div>
<div class="flex-container topbar">
  <div class="txtcenter">
    <a href="/questions"><span class="btn--primary" role="button">Questions</span></a>
    <a href="/users"><span class="btn--success" role="button">Users</span></a>
    <a href="/badges"><span class="btn--warning" role="button">Badges</span></a>
    <a href="/unanswered"><span class="btn--info" role="button">Unanswered</span></a>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <a href="/questions/ask"><span class="btn--inverse" role="button">Ask a question</span></a>
</div>
