<div class="txtcenter">
  <a href="/questions"><span class="btn--primary" role="button">Questions</span></a>
  <a href="/users"><span class="btn--success" role="button">Users</span></a>
  <a href="/badges"><span class="btn--warning" role="button">Badges</span></a>
  <a href="/unanswered"><span class="btn--info" role="button">Unanswered</span></a>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <a href="/questions/ask"><span class="btn--inverse" role="button">Ask a question</span></a>
</div>
