<div class="row">
  <div class="col-3 col"></div>
  <div class="col-8 col"><a href="/questions"><button class="btn-success">Questions</button></a>
  <a href="/users"><button class="btn-primary">Users</button></a>
  <a href="/badges"><button class="btn-warning">Badges</button></a>
  <a href="/unanswered"><button class="btn-danger">Unanswered</button></a>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <a href="/questions/ask"><button class="btn-secondary">Ask a question</button></a></div>
  <div class="col-1 col"></div>
</div>
