{% extends 'home.html' %}

{% block css.custon %}
{% endblock css.custon %}
<link rel="stylesheet" type="text/css" href="/static/css/badge.css" />

{% block side %}
<div class="legend">
<h1>Legend</h1>
<hr class="thin-line"/>
<div class="badge-name">Gold medal<div class="medal-gold"></div></div>
<div style="clear:both"></div>
<div class="medal-legend">
Gold Badges are rare. You’ll have to actively work toward these. They’re something of an accomplishment!
</div>
<hr class="thin-line"/>
<div style="clear:both"></div>

<div class="badge-name">Silver medal<div class="medal-silver"></div></div>
<div style="clear:both"></div>
<div class="medal-legend">
Silver badges are awarded for longer term goals. Silver badges are uncommon, but definitely attainable if you’re interested.
</div>
<hr class="thin-line"/>
<div style="clear:both"></div>
<div class="badge-name">Bronze medal<div class="medal-bronze"></div></div>
<div style="clear:both"></div>
<div class="medal-legend">
Bronze badges are awarded for basic use of Stack Overflow. They are easy to earn.
</div>
<hr class="thin-line"/>
<div style="clear:both"></div>
</div>
{% endblock side %}

{% block main %}
<div id="content">
  <h1>Badges</h1>
  <hr class="thin-line"/>
  <div class="badge-disclaimer">
  As you use calc overflow to ask and answer questions, you’ll earn badges, which appear on your user profile and in your user card.
  Some badges are really easy to obtains, but some other are hard or simply dummy.
  </div>

  {% if badges %}
      {% for badge in badges %}
          <div id="badge"> 
            <a class="badge-name" href="/badges/{{badge.id}}/">{{ badge.name }}<div class="medal-{{badge.medal.name}}"></div></a>
            <div class="badge-description">{{ badge.descritption }}</div>
          </div>
            <div style="clear:both"></div>      {% endfor %}
  {% else %}
      <p>Badges coming soon...</p>
  {% endif %}
  </div>
</div>
{% endblock main %}
